* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  body {
    min-height: 200vh;
  }
   /* ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  /* ul li {
    position: relative;
    list-style: none;
  } */

   ul li a {
    margin: 0px 5px;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 300px;
    font-size:larger;
  }
  .banner {
    position: relative;
    width: 100%;
    height: 650px;
    background: url(../img/piron-guillaume-U4FyCp3-KzY-unsplash.jpg);
    background-size: cover;
    text-align: center;
  }

  .center {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);

  }

  .text {
    margin-top: 60px;
  }

  .data {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .fa-hand-holding-medical,
  .fa-accessible-icon,
  .fa-user-group {
    font-size: 50px;
    color: green;
    padding: 30px;
  }

  .fa-user-group {
    color: white;
  }

  .footer {
    background-color: rgb(25, 31, 27);
    padding: 10px;
    margin-top: 30px;
    text-align: center;
  }

  .fa-bolt-lightning,
  .fa-clock,
  .fa-users,
  .fa-bookmark,
  .fa-heart-pulse,
  .fa-user-doctor,
  .fa-truck-medical,
  .fa-stethoscope,
  .fa-briefcase-medical,
  .fa-flask {
    font-size: 50px;
    padding: 40px;
  }

  span {
    text-align: center;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    background-color: white;
  }

  .flex-container>div {
    background-color: rgb(84, 220, 96);
    width: 700px;
    margin: 10px;
    text-align: center;
    padding: 30px;
  }

  .grid-container {
    margin: 60px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    /* padding: 10px; */
  }

  .grid-container>div {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
  }

  .container-fluid {
    display: flex;
    padding: 60px;
  }
  .card {
    margin: 30px;
    text-align: center;
    border: 1px solid green;
  }

  @media only screen and (max-width: 600px) {
    header.stiky {
      margin: 0;
    }
  }


/* end */
.back{

    background:linear-gradient(90deg,#22852e 0%,#22852e 30%,#51ea72 30%,#51ea72 100%);
}
.contactUs{
    position:relative;
    width:100%;
    padding:40px 100px;
}
.contactUs .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
.contactUs .title h2{
    color:black;
    font-weight: 500;
}
.form{
    grid-area: form;
}
.info{
    grid-area: info;
}
.map{
    grid-area: map;
}
.contact{
    padding:40px;
    background-color:white;
    box-shadow:0 5px 35px reba(0,0,0,0.15);
}
.box{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas:
    "form info"
    "form map";
    grid-gap:20px;
    margin-top: 20px;
}
.contact h3{
    color:#0e3959;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}
/* form */

.formbox{
    position: relative;
    width:100%;
}
.formbox .row50{
    display: flex;
    gap:20px;
}
.inputbox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width:50%;
}
.formbox .row100 .inputbox{
    width:100%;
}
.inputbox span{
    color:#22852e;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}
.inputbox input{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border:1px solid #333;
}
.inputbox textarea{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border:1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}
.inputbox input[type="submit"]{
    background-color:#1cd645;
    color:white;
    border:none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}
.inputbox ::placeholder{
    color:rgb(134, 130, 130);

}
/* info */

.info{
    background-color:#22852e;
}
.info h3{
    color:white;
}
.info .infobox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.info .infobox div span{
    min-height: 40px;
    height:40px;
    color:white;
    background-color:#51ea72;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    padding:10px;
    margin-right: 15px;
}
.info .infobox div p{
    color:white;
    font-size: 1.1em;
}
.info .infobox div a{
    color:white;
    text-decoration: none;
    font-size: 1.1em;
}
.sci{
    margin-top:40px;
    display: flex;
}
.sci li{
    list-style: none;
    margin-right: 15px;
}
.sci li a{
    color:#fff;
    font-size: 2em;
    color:#ccc;
}
.sci li a:hover{
    color:#fff;
}
.map{
    padding:0;
}
.map iframe{
    width:100%;
    height:100%;
}
@media(max-width:991px){
    .back{
        background-color: #03a9f5;
    }
    .contactUs{
        padding:20px;
    }
    .box{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "form"
        "info"
        "map";
    }
    .map{
        min-height: 300px;
    }
    .formbox .row50{
        display: flex;
        gap:0;
        flex-direction: column;
    }
    .inputbox{
        width:100%;
    }

}